body{
    background-image:url(./img/background-test.jpg);
    background-size: cover;
}
#code{
    height: 30px;
    width: 150px;
    margin-top: 400px;
    margin-left: 500px;
   
}

#uncode{
    height: 30px;
    width: 150px;
    margin-top: 0px;
    margin-left: 2px;
}

#caixa{
    flex-direction: row;
}

#cifra{
    font-size: 50px;
    color: white;
    margin-top: 50px;
    text-align: center;
}

#base64{
    color: white;
}

#cifrac{
    color: white;
}